<h1><%= @post.sub.title %></h1>

<h1><%= @post.title %></h1>
<p><%= @post.content %></p>



<a href="<%= edit_post_url(@post) %>">edit post</a>
<br>
<a href="<%= edit_post_url(@post) %>">back to sub</a>