<% action = (album.persisted? ? album_url(album) : albums_url) %>
<% method = (album.persisted? ? :patch : :post) %>

<form action="<%= action %>" method="post">
  <input type="hidden" name="_method" value="<%= method %>">
  <%= auth_token %>

  <label for="album_title">Title</label>
  <input
    type="text"
    name="album[title]"
    id="album_title"
    value="<%= album.title %>">
  <br>
  <br>
  <label for="album_year">Year</label>
  <input
    type="text"
    name="album[year]"
    id="album_year"
    value="<%= album.year %>">
  <br>
  <br>
  <label for="album_type">Type</label>
  <input
    type="radio"
    name="album[live]"
    value="live"
    id="album_type_live"
    <%= album.live == "live" ? "checked" : "" %>>
  <label for="album_type_live">Live</label>
  <input
    type="radio"
    name="album[live]"
    value="studio"
    id="album_type_studio"
    <%= album.live == "studio" ? "checked" : "" %>>
  <label for="album_type_studio">Studio</label>
  <br>
  <br>
  <label for="Band">Band</label>
  <select name="album[band_id]" id="band_color">
    <option <%= album.id.nil? ? "selected" : "" %>>--Select a band--</option>
    <% Band.all.each do |band| %>
      <option
        <%= band.id == album.band_id ? "selected" : "" %>
        value="<%= band.id %>">
        <%= band.name %>
      </option>
    <% end %>
  </select>
  <br>
  <br>
  <% submit_text = (album.persisted? ? 'Update' : 'Create') + ' album!' %>
  <input type="submit" value="<%= submit_text %>">
</form>


