<h1>Meet <%= @cat.name %>!</h1>

<img src="https://i.imgur.com/nRPXIHR.jpg" height=25% width=25%>

<table style=text-align:center>
  <thead>
    <td colspan="2"><%= @cat.name %></td>
    <tr>
      <th>Attribute</th>
      <th>Value</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Birth date:</td>
      <td><%= @cat.birth_date %></td>
    </tr>
    <tr>
      <td>Age:</td>
      <td><%= @cat.age %></td>
    </tr>
    <tr>
      <td>Color:</td>
      <td><%= @cat.color.capitalize %></td>
    </tr>
    <tr>
      <td>Sex:</td>
      <td><%= @cat.sex %></td>
    </tr>
  </tbody>
</table>

<p> <%= @cat.description %> </p>

<form action="/cats/<%= @cat.id %>/edit">
	<button type="submit">Edit this kitty!</button>
</form>